<cb:asset.css identifier="content-block-sidebar-element-twoh/sidebar-element-be" file="EditorPreview.css"/>

<table>
    <tr>
        <td>
            <f:for each="{data.media}" as="image">
                <f:image image="{image}" />
            </f:for>
        </td>
    </tr>
    <tr>
        <td>
            <f:format.raw>{data.bodytext}</f:format.raw>
        </td>
    </tr>
</table>
