{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <div class="galerie partner row p-0 ms-0 me-0 {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">
        <f:if condition="{data.media}">
            <f:for each="{data.media}" as="image" iteration="iterator">
                <f:variable name="position">
                    <f:if condition="({iterator.index -> v:math.modulo(b: 6)} === 0)">
                        <f:then>
                            start
                        </f:then>
                        <f:else>
                            <f:if condition="({iterator.index -> v:math.modulo(b: 6)} === 5)">
                                <f:then>
                                    end
                                </f:then>
                                <f:else>
                                    <f:if condition="{iterator.isLast}">
                                        <f:then>
                                            end
                                        </f:then>
                                        <f:else>
                                            middle
                                        </f:else>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:variable>

                <f:render section="Image" arguments="{_all}" />
            </f:for>
        </f:if>
    </div>
</f:section>

<f:section name="Image">
    <div class="galerie-item position-relative col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 py-half {position} no-border-item">
        <div class="circle position-absolute top-negativ d-none"></div>
        <picture>
            <source srcset="{f:uri.image(image: image, cropVariant: 'desktop')}"
                    media="(min-width: 992px)">
            <source srcset="{f:uri.image(image: image, cropVariant: 'tablet')}"
                    media="(min-width: 768px)">
            <source srcset="{f:uri.image(image: image, cropVariant: 'mobile')}"
                    media="(max-width: 767px)">
            <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')} img-fluid"
                 src="{f:uri.image(image: image, cropVariant: 'desktop')}"
                 alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                 style="aspect-ratio: {data.aspectRatio}"
            >
        </picture>
        <div class="circle position-absolute d-none"></div>
    </div>
</f:section>