<cb:asset.css identifier="content-block-topic-element-twoh/topic-element-be" file="EditorPreview.css"/>

<table>
    <tr>
        <td>
            <f:for each="{data.media}" as="image">
                <f:image image="{image}" />
            </f:for>
        </td>
    </tr>
</table>
