{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <div class="topics card w-100 {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">
        <f:link.typolink parameter="{data.url}" class="text-decoration-none">
            <f:render section="Image" arguments="{_all}" />

            <div class="topics-content d-flex align-items-center px-1 {data.bgColor} {data.textColor} pt-1 pb-1">
                <f:render section="Headline" arguments="{_all}" />
            </div>
        </f:link.typolink>
    </div>
</f:section>

<f:section name="Headline">
    <{data.headlines} class="{data.headlines} mb-0">
        {data.header}
    </{data.headlines}>
</f:section>

<f:section name="Image">
    <f:if condition="{data.media}">
        <f:for each="{data.media}" as="image">
            <f:link.typolink parameter="{image.link}">
                <picture class="image-component-picture">
                    <source srcset="{f:uri.image(image: image, width: '305c', cropVariant: 'desktop')}"
                            media="(min-width: 992px)">
                    <source srcset="{f:uri.image(image: image, width: '305c', cropVariant: 'tablet')}"
                            media="(min-width: 768px)">
                    <source srcset="{f:uri.image(image: image, width: '305c', cropVariant: 'mobile')}"
                            media="(max-width: 767px)">
                    <!---Fallback--->
                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                         src="{f:uri.image(image: image, width: '305c', cropVariant: 'desktop')}"
                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                         style="aspect-ratio: {data.aspectRatio}"
                    >

                    <f:if condition="{image.originalFile.properties.copyright}">
                        <figcaption class="pt-2 {f:if(condition: data.copyright, then: '', else: 'd-none')}">
                            <sup class="{f:if(condition: data.copyrightColor, then: '{data.copyrightColor}', else: '')}">
                                {image.originalFile.properties.copyright}
                            </sup>
                        </figcaption>
                    </f:if>
                </picture>
            </f:link.typolink>
        </f:for>
    </f:if>
</f:section>