{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <div class="position-relative {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">
        <f:render section="Image" arguments="{_all}" />
    </div>
</f:section>

<f:section name="Image">
    <f:if condition="{data.media}">

        <f:variable name="cropVariant" value="{f:if(condition: '{data._raw.pid} === 1', then: 'slider-home', else: 'slider-subpage')}" />
        <f:variable name="cropVariantWidth" value="{f:if(condition: '{data._raw.pid} === 1', then: '1980c', else: '1348c')}"></f:variable>
        <f:variable name="cropVariantHeight" value="{f:if(condition: '{data._raw.pid} === 1', then: '', else: '480c')}"></f:variable>

        <f:for each="{data.media}" as="image">
            <f:link.typolink parameter="{image.link}">
                <picture class="image-component-picture">
                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}"
                         src="{f:uri.image(image: image, cropVariant: '{cropVariant}', width: '{cropVariantWidth}', height: '{cropVariantHeight}')}"
                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                         style="aspect-ratio: {data.aspectRatio}"
                    >

                    <f:if condition="{image.description}">
                        <span class="headline-slider-overlay position-absolute bottom-5 end-0 opacity-75 bg-grad-{data.gradient}-right w-40"></span>
                        <span class="d-flex justify-content-center align-items-center w-40 headline-slider-text h5 px-4 m-0 position-absolute bottom-5 end-0 text-white">
                            {image.description}
                        </span>
                    </f:if>
                </picture>
            </f:link.typolink>
        </f:for>
    </f:if>
</f:section>