<cb:asset.css identifier="content-block-text-element-twoh/text-element-be" file="EditorPreview.css"/>

<table>
    <tr>
        <td>
            <f:format.raw>{data.bodytext}</f:format.raw>
        </td>
    </tr>
</table>
