{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <div class="quote {data.bgColor} {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">
        <div class="container">
            <div class="row quote-content py-4 {data.textColor}">

                <div class="col-lg-9 col-md-8 col-12 d-flex {f:if(condition: data.hasHeader, then: '', else: 'align-items-center')}">
                    <div class="quote-content-text">
                        <f:if condition="{data.hasHeader}">
                            <f:then>
                                <div class="quote-content-header pb-1">
                                    <h6 class="h6 mb-0">{data.header}</h6>
                                </div>

                                <f:render section="Bodytext" arguments="{_all}" />
                                
                                <f:link.typolink parameter="{data.url}"
                                                 class="text-decoration-none text-uppercase {data.textColor} text-end"
                                >
                                    <h6 class="h6 mb-0">
                                        {data.linkTitle}
                                    </h6>
                                </f:link.typolink>
                            </f:then>
                            <f:else>
                                <f:render section="Bodytext" arguments="{_all}" />
                                
                                <div class="text-end">
                                    <h9 class="h9 mb-0">
                                        {data.author}
                                    </h9>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </div>

                <div class="quote-content-image col-lg-3 col-md-4 col-12">
                    <f:render section="Image" arguments="{_all}" />
                </div>

            </div>
        </div>
        <div class="quote-triangle"></div>
    </div>
</f:section>

<f:section name="Bodytext">
    <div class="h7 mb-0">
        <f:format.raw>{data.bodytext}</f:format.raw>
    </div>
</f:section>

<f:section name="Image">
    <f:if condition="{data.media}">
        <f:for each="{data.media}" as="image">
            <f:link.typolink parameter="{image.link}">
                <picture class="image-component-picture">
                    <source srcset="{f:uri.image(image: image, cropVariant: 'desktop')}"
                            media="(min-width: 992px)">
                    <source srcset="{f:uri.image(image: image, cropVariant: 'tablet')}"
                            media="(min-width: 768px)">
                    <source srcset="{f:uri.image(image: image, cropVariant: 'mobile')}"
                            media="(max-width: 767px)">
                    <!---Fallback--->
                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                         src="{f:uri.image(image: image, maxWidth: settings.maxImgWidth, cropVariant: 'desktop')}"
                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                         style="aspect-ratio: {data.aspectRatio}"
                    >
                </picture>
            </f:link.typolink>
        </f:for>
    </f:if>
</f:section>