{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <f:variable name="contact" value="{twoh:contact(uid: '{data.contact}')}" />

    <div class="person card w-100 {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">
        <f:render section="Image" arguments="{_all}" />

        <div class="person-content card-body position-relative {data.bgColor}">
            <f:render section="Contact" arguments="{_all}" />
        </div>
    </div>
</f:section>

<f:section name="Image">
    <f:if condition="{contact.image}">
        <f:for each="{contact.image}" as="image">
            <f:link.typolink parameter="{data.url}">
                <picture class="image-component-picture">
                    <source srcset="{f:uri.image(image: image, width: '250c', cropVariant: 'desktop')}"
                            media="(min-width: 992px)">
                    <source srcset="{f:uri.image(image: image, width: '250c', cropVariant: 'tablet')}"
                            media="(min-width: 768px)">
                    <source srcset="{f:uri.image(image: image, width: '250c', cropVariant: 'mobile')}"
                            media="(max-width: 767px)">
                    <!---Fallback--->
                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                         src="{f:uri.image(image: image, width: '250c', cropVariant: 'desktop')}"
                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                         style="aspect-ratio: {data.aspectRatio}"
                    >
                </picture>
            </f:link.typolink>
        </f:for>
    </f:if>
</f:section>

<f:section name="Contact">
    <div class="person-content-text position-absolute bottom-0 start-0 pb-half ps-1 lh-1 col col-10 {data.textColor}">
        <f:if condition="{contact.title}">
            <h6 class="h6 mb-0">{contact.title}</h6>
        </f:if>

        <f:if condition="{contact.position}">
            <h7 class="h7 mb-0">{contact.position}</h7>
        </f:if>
    </div>

    <f:if condition="{data.url}">
        <f:link.typolink
                parameter="{data.url}"
                class="actual-content-link {data.iconColor} position-absolute bottom-0 end-0 pb-half pe-half"
        >
            <twoh:svg svgPath="{data.icon}.svg"/>
        </f:link.typolink>
    </f:if>
</f:section>