{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <f:variable name="contact" value="{twoh:contact(uid: '{data.contact}')}" />

    <div class="network position-relative {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}">

        <f:render section="Image" arguments="{_all}" />

        <div class="network-wrapper position-absolute start-0 w-100">
            <div class="container">
                <div class="network-content d-flex flex-column w-100">
                    <div class="network-content-headline1">
                        <f:render section="Headline"
                                  arguments="{header:data.header, headlines:data.headlines, textColor:data.textColor}"
                        />
                    </div>
                    <div class="network-content-headline2 text-end">
                        <f:render section="Headline"
                                  arguments="{header:data.subheader, headlines:data.headlines, textColor:data.textColor2}"
                        />
                    </div>

                    <div class="network-contact d-flex justify-content-center mt-1">
                        <f:if condition="{contact.phone}">
                            <div class="network-content-contact-phone d-flex gap-1">
                                <span class="{data.iconColor}">
                                    <twoh:svg svgPath="phone.svg"/>
                                </span>
                                <a href="tel:{contact.phone}" class="text-decoration-none">
                                    <f:render section="Headline"
                                              arguments="{header:contact.phone, headlines:'h4', textColor:data.textColor}"
                                    />
                                </a>
                            </div>
                        </f:if>
                        <f:if condition="{contact.email}">
                            <div class="network-content-contact-email d-flex gap-1">
                                <span class="{data.iconColor}">
                                    <twoh:svg svgPath="email-info.svg"/>
                                </span>
                                <a href="mailto:{contact.email}" class="text-decoration-none">
                                    <f:render section="Headline"
                                              arguments="{header:contact.email, headlines:'h4', textColor:data.textColor}"
                                    />
                                </a>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="Image">
    <f:if condition="{data.media}">
        <f:for each="{data.media}" as="image">
            <f:link.typolink parameter="{image.link}">
                <picture class="image-component-picture">
                    <source srcset="{f:uri.image(image: image, width: '1980c', cropVariant: 'desktop')}"
                            media="(min-width: 992px)">
                    <source srcset="{f:uri.image(image: image, width: '700c', cropVariant: 'tablet')}"
                            media="(min-width: 768px)">
                    <source srcset="{f:uri.image(image: image, width: '350c', cropVariant: 'mobile')}"
                            media="(max-width: 767px)">
                    <!---Fallback--->
                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                         src="{f:uri.image(image: image, width: '1980c', cropVariant: 'desktop')}"
                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                         style="aspect-ratio: {data.aspectRatio}"
                    >
                </picture>
            </f:link.typolink>
        </f:for>
    </f:if>
</f:section>

<f:section name="Headline">
    <{headlines} class="{headlines} {textColor} mb-0 {upperCase}">
        {header}
    </{headlines}>
</f:section>