<cb:asset.css identifier="content-block-galerie-element-twoh/galerie-element-be" file="EditorPreview.css"/>

<table>
    <tr>
        <td>
            <f:for each="{data.media}" as="image">
                <f:image image="{image}" width="80" class="p-quarter" />
            </f:for>
        </td>
    </tr>
</table>
