{namespace twoh=TWOH\TwohKickstarter\ViewHelpers}

<f:layout name="Boxed" />

<f:section name="content">
    <div class="image-component {f:if(condition: data.hideOnMobile, then: 'd-none d-md-block')} m{data.marginPos}{data.margin}"
    >
        <f:render section="Image" arguments="{_all}" />
    </div>
</f:section>

<f:section name="Image">
    <f:if condition="{data.media}">
        <f:for each="{data.media}" as="image">
            <f:if condition="{image.originalFile.properties.extension} !== 'pdf'">
                <f:then>
                    <f:link.typolink parameter="{image.link}">
                        <picture class="image-component-picture">
                            <source srcset="{f:uri.image(image: image, cropVariant: 'desktop')}"
                                    media="(min-width: 992px)">
                            <source srcset="{f:uri.image(image: image, width: '500c', cropVariant: 'tablet')}"
                                    media="(min-width: 768px)">
                            <source srcset="{f:uri.image(image: image, width: '350c', cropVariant: 'mobile')}"
                                    media="(max-width: 767px)">

                            <f:if condition="{data.imgWidth}">
                                <f:then>
                                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                                         src="{f:uri.image(image: image, width: '{data.imgWidth}c', cropVariant: 'desktop')}"
                                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                                         style="{f:if(condition: '{data.imgWidth} !== \'0\'', then: 'width: {data.imgWidth}px', else: 'width: 100%;height: auto;')}"
                                    >
                                </f:then>
                                <f:else>
                                    <img class="{twoh:imageOrientation(imagePath: '{f:uri.image(image: image, maxWidth: settings.maxImgWidth)}')}  img-fluid"
                                         src="{f:uri.image(image: image, width: '1980c', cropVariant: 'desktop')}"
                                         alt="{image.alternative}" longdesc="{image.description}" title="{image.title}"
                                         style="{f:if(condition: '{data.aspectRatio} !== \'0\'', then: 'aspect-ratio: {data.aspectRatio}', else: 'width: 100%;height: auto;')}"
                                    >
                                </f:else>
                            </f:if>

                            <f:if condition="{image.originalFile.properties.copyright}">
                                <figcaption class="pt-2 {f:if(condition: data.copyright, then: '', else: 'd-none')}">
                                    <sup class="{f:if(condition: data.copyrightColor, then: '{data.copyrightColor}', else: '')}">
                                        {image.originalFile.properties.copyright}
                                    </sup>
                                </figcaption>
                            </f:if>
                        </picture>
                    </f:link.typolink>
                </f:then>
                <f:else>
                    <f:link.typolink parameter="{image.publicUrl}" target="_blank">
                        <div class="media">
                            <f:media file="{image}" />
                        </div>
                    </f:link.typolink>
                </f:else>
            </f:if>
        </f:for>
    </f:if>
</f:section>